<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.demo.dao.TradeBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.demo.entity.TradeBill">
        <result column="id" property="id"/>
        <result column="merchant_no" property="merchantNo"/>
        <result column="bus_date" property="busDate"/>
        <result column="trade_count" property="tradeCount"/>
        <result column="trade_amounts" property="tradeAmounts"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="is_valiate" property="isValiate"/>
        <result column="oper_user_id" property="operUserId"/>
        <result column="oper_user_name" property="operUserName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id , merchant_no, bus_date, trade_count, trade_amounts, create_time,
        update_time,remark, is_valiate, oper_user_id, oper_user_name
    </sql>

</mapper>
